.img-container{
    max-width: 250px;
    max-height: 250px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
}

.section-selector{
    background-color: transparent;
    color: var(--contrast-color);
    border: 2px solid var(--contrast-color);
    font-size: 18px;
    padding: 4px 5px;
    margin: 5px 0px;
}