body.active-modal {
    overflow-y: hidden;
}

.modal1, .overlay1 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay1 {
    background: rgba(49,49,49,0.8);
}
.modal-content1 {
    position: absolute;
    padding: 14px 0px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}
.chevronButton{
    border: 0px;
    background-color: transparent;
}