body.active-base-modal {
    overflow-y: hidden;
}

.base-modal, .base-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.base-overlay {
    background: rgba(49,49,49,0.5);
}
.base-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--tag-bg-color);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 10;
}